hr {
  border-top: 1px solid #fff;
}

#albumImage {
  max-height: 50vh;
}

#songDetails {
  padding: 5px;
}

#songName {
  font-size: 5vh;
}

#songArtists {
  font-size: 3vh;
  color: #b9b9b9;
}

#songAlbum {
  font-size: 2vh;
  color: #b9b9b9;
}

#playingStatus {
  font-size: 5vh;
}

.main {
  max-height: 100vh;
}

.playerControls {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: column; */
  text-align: center;
}

.active {
  color: #5daf5e;
}

.semi-active {
  color: #bee6bf;
}

#play {
  padding: 15px;
}

#shuffle {
  padding: 5px;
}

#previous {
  padding: 8px;
}

#next {
  padding: 8px;
}

#repeat {
  padding: 5px;
}

.btn-secondary {
  background-color: #5daf5e;
}

.status-line {
  background-color: #5daf5e;
  height: 2.5vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
  /* height: 30px; */
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.help {
  float: right;
}

#login-button {
  font-size: 35px;
  margin: 5px;
  background-color: #5daf5e !important;
  height: 10vh;
  width: 40vh;
}

#title {
  font-weight: bold;
  padding-top: -1em;
  padding-bottom: 0.15em;
  font-size: 80px;
}

#Vi-title {
  color: #5daf5e;
  font-weight: normal !important;
}

.disclosure {
  height: 5vh;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-bottom: 20px;
  color: #999999;
}
